.name {
    color: green !important;
    font-size: 20pt !important;
}
.Rias{
    color: #980002 !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.Nami{
    color: orange !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.Robin{
    color: purple !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.escanor{
    color: goldenrod !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.zoro{
    color: #0b6b00 !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.luffy{
    color: red !important;
    font-size: 14pt !important;
    font-style: italic !important;
}
.tableHead{
    font-family: Georgia, serif !important;
    font-style: italic !important;
    font-size: 14pt !important;
}
